<div class="jumbo">
  <div class="right tomster"></div>
    <h2>Hello, Super-Renters!</h2>
    <p>
      Let's learn JS by building a super awesome rental site - made for you all super awesome renters!
    </p>
</div>
{{outlet}}
